
@media screen and (max-width: 768px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    
    footer {
        flex-direction: column;
        align-items: center;
    }
    #imgp{
        width: 100%;
       background-position:  center top;

    }
    #imgf{
       background-position: top center;  
    }

    .footer1, .footer2 {
        margin-right: 0;
        width: 100%;
        margin-top: 20px;
    }
    #icardapio img{
        width: 400px;
    }
  
    .footer2 input, .footer2 textarea, .footer2 select {
        width: 100%;
    }
    .btn_icon_header{
        display: block;
    }
    .nagivation_header{
        position: absolute;
        flex-direction: column;
        background-color: white;
        top: 0px;
        height: 100%;
        width: 35vw;
        padding: 2em;
        padding-left: 10px;
        animation-duration: .5s;
        margin-left: -1000vw;
        cursor: pointer;
        
    }
    #cafetrad{
        flex-direction: column;
        font-size: 1.0em;
        
    }
}
@keyframes showSidebar{
    from{margin-left: -200vw;}
        top{margin-left: -65vw;}
    
}